<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>매장 관리</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }

        .list table th, .list table td {
            border: solid 1px #000;
        }
    </style>
</head>
<body>
<div th:replace="/fragments/layout.html :: fragment-manager-body-menu"></div>

<h1 th:if="${!editMode}">매장 등록</h1>
<h1 th:if="${editMode}">매장 정보 수정</h1>

<form method="post">

    <div>
        <input th:value="${detail.name}" type="text" name="name" placeholder="매장명 입력" required/>
    </div>

    <div>
        <input th:value="${detail.latitude}" type="text" name="latitude" placeholder="위도 입력" required/>
    </div>
    <div>
        <input th:value="${detail.longitude}" type="text" name="longitude" placeholder="경도 입력" required/>
    </div>

    <div>
        <input th:value="${detail.tableAmount}" type="text" name="tableAmount" placeholder="테이블 수 입력" required/>
    </div>

    <div>
        <input th:value="${detail.description}" type="text" name="description" placeholder="매장 설명 입력" required/>
    </div>

    <div>
        <button th:if="${!editMode}" type="submit">매장 등록</button>
        <button th:if="${editMode}" type="submit">매장 정보 수정</button>
    </div>

</form>

</div>
</body>
</html>
